[Unit]
Description=Surface Android host-control socket
ConditionKernelCommandLine=surface.mode=android

[Socket]
ListenStream=/run/surface-android-control/control.sock
SocketMode=0666
DirectoryMode=0755
Service=surface-android-control.service

[Install]
WantedBy=sockets.target
